<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta</title>
    <link rel="stylesheet" href="/app/view/cuenta.css">
</head>

<body>
    <header>
        <img class="img-logo" src="/app/view/imagenes/image.png" alt="logo">
        <nav>
            <ul>
                <li><a href="/app/view/inicio.html">Inicio</a></li>
                <li><a href="/app/view/deseados.html">Deseados</a></li>
                <li><a href="/app/view/tienda.php">Tienda</a></li>
                <li><a href="/app/view/publicar.html">Publicar</a></li>
                <li><a href="/app/view/login.php">Cuenta</a></li>
            </ul>
        </nav>
    </header>

    <button class="salir">Cerrar Sessión</button>

    <div class="image-picker">
        <div class="circle" onclick="openPopup();">
            <img id="circleImage" src="" class="circle-img">
        </div>
    </div>

    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup();">&times;</span>
            <h3>Selecciona una imagen</h3>
            <div class="image-options">
                <div>
                    <div>
                        <img src="/app/view/imagenes/vamoacalmarno.jpg" alt="Imagen 1" onclick="setImage('/app/view/imagenes/vamoacalmarno.jpg');">

                    </div>
                    <div>
                        <img src="/app/view/imagenes/gengar.jpg" alt="Imagen 2" onclick="setImage('/app/view/imagenes/gengar.jpg');">

                    </div>
                    <div>
                        <img src="/app/view/imagenes/wingull.avif" alt="Imagen 3" onclick="setImage('/app/view/imagenes/wingull.avif');">

                    </div>

                </div>
                <div>
                    <div>
                        <img src="/app/view/imagenes/victini.png" alt="Imagen 4" onclick="setImage('/app/view/imagenes/victini.png');">
                    </div>
                    <div>
                        <img src="/app/view/imagenes/pikachu.jpeg" alt="Imagen 5" onclick="setImage('/app/view/imagenes/pikachu.jpeg');">
                    </div>
                    <div>
                        <img src="/app/view/imagenes/oshawott.png" alt="Imagen 6" onclick="setImage('/app/view/imagenes/oshawott.png');">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>Nombre</p>
    <p class="ercora">100 ❤</p>
    <div class="tabs">
        <input type="radio" name="tabs" id="tab-vendidos" checked>
        <label for="tab-vendidos" onclick="pestania('vendido')">Vendidos</label>

        <input type="radio" name="tabs" id="tab-comprados">
        <label for="tab-comprados" onclick="pestania('comprado')">Comprados</label>

        <input type="radio" name="tabs" id="tab-megusta" onclick="pestania('gusta')">
        <label for="tab-megusta">Me gusta</label>
    </div>

    <div class="content-container">
        <div id="vendidos" class="content">
        </div>
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>
    </div>
    </div>

    <footer class="footer">
        <div class="copyright">
            <a href="">Copyright © 2024 PokemonCard_shop</a>
        </div>
        <div>
            <a href="avisoLegal.html">Aviso legal</a> |
            <a href="privacidad.html">Política de privacidad</a> |
            <a href="coockies.html">Política de Cookies</a> |
            <a href="envios.html">Política de envíos</a> |
            <a href="reembolso.html">Política de reembolso</a>
        </div>
    </footer>

    <script>
        // Función para abrir el popup
        function openPopup() {
            document.getElementById("popup").style.display = "block";
        }

        // Función para cerrar el popup
        function closePopup() {
            document.getElementById("popup").style.display = "none";
        }

        // Función para establecer la imagen en el círculo
        function setImage(src) {
            document.getElementById("circleImage").src = src;
            closePopup(); // Cerrar el popup al seleccionar la imagen
        }

        const galeria = document.getElementById("vendidos");

        const itemsPerPage = 8;
        let currentPage = 1;
        items = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1];

        function renderPage(page) {
            galeria.innerHTML = "";
            const itemsToRender = items;
            const start = (page - 1) * itemsPerPage;
            const end = start + itemsPerPage;
            const currentItems = itemsToRender.slice(start, end);

            currentItems.forEach(item => {
                const div = document.createElement("div");
                div.classList.add("box");
                const imagen = document.createElement("p");
                imagen.textContent = item;
                galeria.appendChild(div);
                div.appendChild(imagen);
            });

        }


        function pestania(tipo) {
            switch (tipo) {
                case "vendido":
                    items = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1];
                    break;
                case "comprado":
                    items = [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2];
                    break;
                case "gusta":
                    items = [3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3];
                    break;
            }
            renderPage(1);
        }

        renderPage(1);
    </script>

</html>
