body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("imagenes/fondo_tienda.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header {
    background-color: #333;
    color: white;
    padding: 0.5vw 0;
}

nav ul {
    list-style-type: none;
    text-align: right;
    margin-right: 15vw;
}

nav ul li {
    display: inline;
    margin: 0 1.5vw;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.4vw;
    padding: 1vw 1vw;
}

nav ul li a:hover {
    background-color: #575757;
}

.img-logo {
    top: 0.3vw;
    position: absolute;
    width: 10vw;
    margin-left: 4vw;
}


/* Círculo para la imagen seleccionada */
.image-picker {
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}

.circle {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: #ffffffc4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.circle-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Estilo para el popup */
.popup {
    display: none;
    position: fixed;
    top: 10vw;
    left: 20vw;
    width: 60vw;
    height: 20vw;
    justify-content: center;
    align-items: center;
}

.popup-content {
    padding-top: 1vw;
    background-color: white;
    width: 60vw;
    height: 35vw;
    border-radius: 0.4vw;
    text-align: center;
}

.image-options {
    margin-top: 0.7vw;
    
}



.image-options div div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    animation-duration: 0.3s;
    animation-name: disminuir;
    transform: scale(1);
}

@keyframes disminuir {
    from {
        box-shadow: 0.3px 0.3vw 0.5vw black;
        transform: scale(1.1);
        
    }
  
    to {
        box-shadow: 0px 0vw 0vw black;
        transform: scale(1);
    }
}

.image-options div div {
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: inline-block;
    width: 11vw;
    height: 11vw;
    background-color: #000;
    margin: 2.5vw;
}

.image-options img:hover {
    animation-duration: 0.3s;
    animation-name: aumento2;
    transform: scale(1.1);
    box-shadow: 0.3px 0.3vw 0.5vw black;
}

@keyframes aumento2 {
    from {
        box-shadow: 0px 0vw 0vw black;
        transform: scale(1);
    }
  
    to {
        box-shadow: 0.3px 0.3vw 0.5vw black;
        transform: scale(1.1);
    }
}

.close {
    position: absolute;
    top: 1vw;
    right: 2vw;
    font-size: 1.5vw;
    color: #333;
    cursor: pointer;
}

p {
    text-align: center;
    font-weight: bold;
    font-size: 1.2vw;
}

/* Estilos de pestañas */
.tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
    font-size: 1vw;
    margin-top: 2vw;
}

.tabs input {
    display: none;
}

.tabs label {
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
}

.tabs input:checked+label {
    border-bottom: 2px solid #fff;
}

/* Contenidos de las pestañas */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12vw, 1fr));
    justify-content: space-between;
    gap: 6vw;
    margin-top: 4vw; 

}

.content .box {
    border-radius: 0.8vw;
    padding: 2vw;
    width: 10vw;
    height: 15vw;
    background-color: #aaa;
    box-shadow: 3px 3px 3px 3px rgba(32,32,32,0.3);

}



footer {
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    background-color: #000;
    color: #fff;
    font-size: 0.7vw;
}

.copyright{
    padding-right: 20vw;
    padding-left: 20vw;
}

.footer a{
    color: #fff;
    text-decoration: none;
    margin: 0 0.5vw;

}

.footer a:hover {
    text-decoration: underline;
}


.prev,
.next {
    position: absolute;
    top: 59vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    padding: 0.4vw;
    cursor: pointer;
    border: none;
    border-radius: 0.3vw;
}

.prev {
    left: 3vw;
}

.next {
    right: 3vw;
}

.ercora{
    -webkit-text-stroke: 0.01vw rgb(197, 0, 0);
    color: rgb(206, 0, 0);
    margin-bottom: 2vw;
}

.salir{
    position: relative;
    border-radius: 0.4vw;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 0.5vw 1vw;
    font-size: 0.9vw; 
    left: 81.5vw;
    top: 1vw;
}

.salir:hover{
    cursor: pointer;
}

.editar_usuario{
    position: relative;
    border-radius: 0.4vw;
    border: none;
    padding: 0.5vw 1vw;
    font-size: 0.9vw; 
    left: 2vw;
    top: 1vw;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

.editar_usuario:hover{
    cursor: pointer;
}



.content-container button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

.cuerpo{
    height: 79vw;
}

#lista_vacia_img{
    width: 25vw;
}

#lista_vacia_titulo{
    font-size: 2vw;
}

form, .editar{
    display: inline-block;
}

.galeria-item {
    box-shadow: 0.3px 0.3vw 0.5vw black;
    border-radius: 1vw;
    /* padding: 0.8vw; */
    width: 15vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    color: #333;
}

.info-galeria-item{
    position: absolute;
    color: white;
    border-radius: 0 0 1vw 1vw;
    width: 15vw;
    background-color: #00000080;
    margin-top: 15.55vw;
}

.precio{
    color: #f0f0f0;
    text-align: center;
    font-weight: bold;
    font-size: 1.4vw;
    margin-bottom: 0.5vw;
}

.nombre_producto{
    color: #f0f0f0;
    font-size: 1.1vw;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.65vw;
    margin-top: 0.6vw;
}

.imagen-galeria{
    width: 15vw;
    height: 20.5vw;
    object-fit: cover;
    border-radius: 1vw;
}
.galeria-item:hover {
    animation-duration: 0.3s;
    animation-name: aumento;
    transform: scale(1.05);
}

/* .info-galeria-item :hover{
    position: fixed;
    color: white;
    border-radius: 0 0 1vw 1vw;
    width: 15vw;
    background-color: #00000080;
    margin-top: 15.55vw;
} */

/* .galeria-item :hover{
    animation-name: aumento;
    width: 16vw;
    height: 21vw;
} */

@keyframes aumento {
    from {
        transform: scale(1);
    }
  
    to {
        transform: scale(1.05);
    }
}
