<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="inicio.css">
</head>

<body>
    <header>
        <img class="img-logo" src="imagenes/image.png" alt="logo">
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#deseados">Deseados</a></li>
                <li><a href="tienda.html">Tienda</a></li>
                <li><a href="#publicar">Publicar</a></li>
                <li><a href="login.html">Cuenta</a></li>
            </ul>
        </nav>
    </header>

    <div class="carousel">
        <div class="carousel-images">
            <img src="imagenes/carrusel1.jpg" alt="Imagen 1">
            <img src="imagenes/carrusel2.jpg" alt="Imagen 2">
            <img src="imagenes/carrusel3.jpg" alt="Imagen 3">
            <img src="imagenes/carrusel1.jpg" alt="Imagen 4">
            <img src="imagenes/carrusel2.jpg" alt="Imagen 5">
            <img src="imagenes/carrusel3.jpg" alt="Imagen 6">
        </div>
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>
    </div>

    <script>
        let currentIndex = 0;

        function showSlide(index) {
            const slides = document.querySelectorAll(".carousel-images img");
            if (index >= slides.length) {
                currentIndex = 0;
            } else if (index < 0) {
                currentIndex = slides.length - 1;
            } else {
                currentIndex = index;
            }
            const offset = -currentIndex * 100;
            document.querySelector(".carousel-images").style.transform = `translateX(${offset}%)`;
        }

        function moveSlide(step) {
            showSlide(currentIndex + step);
        }

        setInterval(() => {
            moveSlide(1);
        }, 3000);

        showSlide(currentIndex);

    </script>
</body>

</html>