body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("imagenes/fondo_tienda.png");
    font-family: Arial, sans-serif;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    

}

header {
    background-color: #333;
    color: white;
    padding: 0.5vw 0;
    /* width: 100vw; */
}

nav ul {
    list-style-type: none;
    text-align: right;
    margin-right: 15vw;
}

nav ul li {
    display: inline;
    margin: 0 1.5vw;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.4vw;
    padding: 1vw 1vw;
}

nav ul li a:hover {
    background-color: #575757;
}

.img-logo {
    top: 0.3vw;
    position: absolute;
    width: 10vw;
    margin-left: 4vw;
}

.divTexto{
    text-align: justify;
    margin: 5vw 20vw;
    padding: 4vw;
    background-color: #ffffffbe;
    border-radius: 5vw;
}

.container {
    display: flex;
    gap: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}
.image-section, .form-section {
    display: flex;
    flex-direction: column;
}
.image-section {
    align-items: start;
}
.dos_elementos{
    display: flex; gap: 10px;
}
.image-section input {
    margin-bottom: 10px;
    padding: 5px;
    width: 14vw;
}
.image-placeholder {
    width: 250px;
    height: 250px;
    border: 2px solid #007BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    color: #555;
    font-size: 18px;
    object-fit: contain;
}

.form-section {
    width: 300px;
}
.form-section input, .form-section textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-section textarea {
    resize: none;
    height: 60px;
}
.publish-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.publish-button:hover {
    background-color: #434344;
}
#expansiones{
    display: flex; 
    gap: 15px;
}
.expansionUnica{
    border-radius: 10px;
    color: white;
    background-color: #333;
    padding: 10px;
}


